<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页面</title>
    <style type="text/css">
        html,body{
            height: 100%;
            padding:0;
            margin: 0;
        }
        #menu{
            width:50px;
            height:100%;
            left: 0;
            top:0;
            background: #000;
            color: #fff;;
            float: left;
            border: 1px solid red;
        }

        #content{
            height: 100%;
            border: 1px solid #5e5e5e;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <aside id="menu">Hi</aside>
    <div id="content">

        内容区域

        <a href="/user/logout">退出登录</a>
    </div>
</body>
</html>